bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
SE - AI Skills Tool/ClientApp/.angular/cache/*
/.idea/*
!/.idea/.idea.*
/.idea/.idea.*/*
!/.idea/.idea.*/.idea
/.idea/.idea.*/.idea/*
!/.idea/.idea.*/.idea/runConfigurations
.vs/*
