.courses {
  background-color: #121f3d;
  margin: auto;
  padding: 1rem;
  width: 50%;
  height: 65vh;
  transform: translateY(10vh);
}

.courses-flex-container {
  display: flex;
  flex-direction: column;
}

.courses .container {
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;
  flex: 0 1 auto;
}

.courses .container::-webkit-scrollbar {
  width: 0.3rem;
}

.courses .container::-webkit-scrollbar-track {
  background: #121f3d;
}

.courses .container::-webkit-scrollbar-thumb {
  background: #1d3263;
  border-radius: 3rem;
}

.courses .container::-webkit-scrollbar-thumb:hover {
  background: #172c5d;
}

.courses .container > :first-child {
  margin-top: auto !important;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.course {
  background-color: #1d3263;
  padding: 0.75rem 1rem 0.75rem 1rem;
  width: 100%;
}

.courses .flex-container:not(:last-child) {
  margin-bottom: 0.75rem;
}

.courses .flex-container:last-child {
  margin-bottom: 0;
}

.course .text {
  font-weight: bolder;
}

.button_plus {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  background: #1d3263;
  cursor: pointer;
  border: 2px solid #121f3d;
}

.button_plus:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  height: 0.25rem;
  width: 50%;
  background: #09B776;
  top: 50%;
  left: 50%;
  border-radius: 2rem;
}

.button_plus:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #09B776;
  height: 50%;
  width: 0.25rem;
  border-radius: 2rem;
}

.button_plus:hover:before,
.button_plus:hover:after {
  background: #1d3263;
  transition: 0.5s;
}

.button_plus:hover {
  background-color: #09B776;
  transition: 0.5s;
}
