<div class="courses courses-flex-container rounded-cube" xmlns="http://www.w3.org/1999/html">
  <div id="scroll_view" class="container">
    <div class="flex-container" *ngFor="let course of courses">
      <a target="_blank" style="color: #ffffff; text-decoration: none;" [href]="course.url">
        <div class="course rounded-cube" style="display: flex; flex-direction: row;">
          <span style="flex-basis: 1rem;">
            <img class="rounded-cube" style="width: 6rem; margin: auto 1rem auto 0;" [src]="course.iconUrl"/>
          </span>
          <span style="flex-basis: 4rem; flex-grow: 1;">
            <h5 class="text">{{course.title}}</h5>
            <span [innerHTML]=course.description></span>
          </span>
          <a *ngIf="!profile && authService.isAuthenticated" style="margin-top: auto; margin-left: 1rem;" href="javascript:void(0)" (click)="addCourseToUser(course)"><div class="button_plus rounded-cube"></div></a>
        </div>
      </a>
    </div>
  </div>
</div>
