.chatbot {
  background-color: #121f3d;
  margin: auto;
  padding: 1rem;
  width: 50%;
  height: 65vh;
  transform: translateY(10vh);
}

.chatbot .container {
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;
  flex: 0 1 auto;
}

.chatbot .container::-webkit-scrollbar {
  width: 0.3rem;
}

.chatbot .container::-webkit-scrollbar-track {
  background: #121f3d;
}

.chatbot .container::-webkit-scrollbar-thumb {
  background: #1d3263;
  border-radius: 3rem;
}

.chatbot .container::-webkit-scrollbar-thumb:hover {
  background: #172c5d;
}

.chatbot  .container > :first-child {
  margin-top: auto !important;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.chatbot-flex-container {
  display: flex;
  flex-direction: column;
}

.chatbot .message {
  background-color: #1d3263;
  padding: 0.75rem 1rem 0 1rem;
  margin-bottom: 0.75rem;
  max-width: 100%;
  line-height: 125%;

  text-align: justify;
  word-wrap: anywhere;
  overflow-wrap: anywhere;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.chatbot .user {
  color: #fe9900;
  font-weight: bolder;
}

.chatbot .bot {
  color: #ca3435;
  font-weight: bolder;
}

.chatbot .text-left {
  text-align: left;
  text-align-last: left;
}

.chatbot .text-right {
  text-align: right;
  text-align-last: right;
}

.chatbot .left {
  float: left;
  border-top-left-radius: 0.1rem;
}

.chatbot .right {
  float: right;
  border-top-right-radius: 0.1rem;
}

.chatbot .options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.chatbot .option {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  text-decoration: none;
  font-weight: normal;
  text-align: center;
}

.chatbot .form {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  align-self: end;
  margin-top: auto !important;
  min-height: 4rem;
  max-height: 10%;
  width: 100%;
  justify-content: space-between;
  /*padding: 1rem;*/
}

.chatbot .form-item {
  flex-grow: 1;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.chatbot .text-input {
  background-color: #1d3263;
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 0.5rem;
  color: rgb(248,249,250);
  flex-grow: 3;
  margin-right: 0.5rem;
  margin-left: 0.75rem;
}

.chatbot .form .btn-blue {
  background-color: #1e46a4;
  border-width: 0;
  flex-grow: 1;
  flex-basis: 5rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.chatbot .btn-blue:hover {
  background-color: #143071;
}

.chatbot .send {
  background-color: #1E46A4;
}

.chatbot p {
  color: rgb(248,249,250);
}

.link {
  color: rgb(248,249,250);
  font-weight: bolder;
  text-decoration: underline;
}

.chatbot .text:not(:last-child) {
  margin-bottom: 0.25rem;
  text-decoration: none;
}

.chatbot .text:last-child {
  margin-bottom: 0.75rem;
  text-decoration: none;
}
