<div class="chatbot chatbot-flex-container rounded-cube" xmlns="http://www.w3.org/1999/html">
  <div id="scroll_view" class="container">
    <div class="flex-container" *ngFor="let message of messages">
      <span *ngFor="let text of message.texts">
        <h6 [ngClass]="message.bot ? 'text-left bot' : 'text-right user'">{{message.bot ? 'Codey' : 'You'}}</h6>
        <div [ngClass]="message.bot ? 'left' : 'right'" class="message rounded-cube">
          <p class="text" *ngFor="let line of splitMessage(text)" [innerHtml]="parseURL(line, message.bot)"></p>
        </div>
      </span>
      <span *ngIf="message.suggestions !== undefined && message === messages[messages.length - 1]">
        <div (click)="chooseOption(option)" class="option btn-blue" *ngFor="let option of message.suggestions">
          <a class="text-light text" href="javascript:void(0);">{{option.label}}</a>
        </div>
      </span>
      <span *ngIf="message.options !== undefined && message === messages[messages.length - 1]" [ngClass]="messages.length == 1 ? null : 'options'">
        <div (click)="chooseOption(option)" class="option btn-blue" *ngFor="let option of message.options">
          <a class="text-light text" href="javascript:void(0);">{{option.label}}</a>
        </div>
      </span>
    </div>
  </div>
  <form class="form" (ngSubmit)="onSubmit($event)">
    <input class="form-control text-input form-item text-right" name="text" placeholder="Type your message here... ">
    <input class="btn-blue form-item" type="submit" value="Send">
  </form>
</div>
