<div class="chatbot rounded-cube">
  <div id="scroll_view" class="container">
    <div *ngFor="let message of messages">
      <span>
        <h6 [ngClass]="message.bot ? 'text-left bot' : 'text-right user'">{{message.bot ? 'Codey' : 'You'}}</h6>
        <div [ngClass]="message.bot ? 'left text-left' : 'right text-right'" class="message rounded-cube">
          <span *ngFor="let line of splitMessage(message.text)">
            <p>{{line}}</p>
          </span>
        </div>
      </span>
    </div>
  </div>
  <form class="form" (ngSubmit)="onSubmit($event)">
    <input class="form-control text-input form-item text-right" name="text" placeholder="Type your message here... ">
    <input class="btn-blue form-item" type="submit" value="Send">
  </form>
</div>
