a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar-blue {
  color: rgb(248,249,250);
  background-color: #121F3D;
  border-color: #121F3D;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
